* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$theme-color: rgb(255, 64, 0);

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #131313;
    font-family: 'Montserrat', sans-serif;

    .swiper {
        width: 100%;
        height: 300px;

        .swiper-slide {
            width: 200px;
            background: gray;
            border-radius: 3px 0 3px 3px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            position: relative;
            padding: 25px;
            gap: 10px;

            .slider__button {
                padding: 10px 15px;
                border-radius: 10px;
                background: $theme-color;
                text-decoration: none;
                color: #ffffff;
                font-size: calc(10px + .3vw);
            }

            .slider__headline {
                color: #ffffff;
                font-size: calc(20px + .3vw);
                text-transform: uppercase;
            }

            .slidecorn {
                height: 50px;
                width: 50px;
                position: absolute;
                top: -2px;
                right: -2px;
                background: #131313;
                z-index: 200;
                display: flex;

                .slidecorn__down {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 50px 0 0 50px;
                    border-color: transparent transparent transparent $theme-color;
                }
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            background-color: white;
            background-color: rgba(255, 255, 255, 0.274);
            right: 20px;
            padding: 40px;
            border-radius: 50%;
            color: $theme-color !important;
            fill: $theme-color !important;
            stroke: $theme-color !important;
        }
    }
}