* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  background: rgba(255, 64, 0, 0.5);
}

img {
  user-select: none;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 64, 0);
  border-radius: 0;
}

.loader {
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #131313;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.text {
  color: rgb(255, 64, 0);
  display: inline-block;
  margin-left: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
.bounceball:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(255, 64, 0);
  transform-origin: 50%;
  animation: bounce 500ms alternate infinite ease;
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #131313;
  font-family: "Montserrat", sans-serif;
  padding: 25px;
}
.wrap .main {
  width: 100%;
  min-height: calc(100vh - 75px);
  margin-bottom: 50px;
  display: flex;
}
.wrap .main .visual {
  width: 30%;
}
.wrap .main .visual .visual__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
}
.wrap .main .visual .visual__wrapper .visual__avatar {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  user-select: none;
  background: linear-gradient(transparent, transparent) padding-box, linear-gradient(137.12deg, #7CDE1A 16.11%, #FF0000 83.7%) no-repeat center;
  background-size: 110% 110%;
  border: 4px solid transparent;
  object-fit: cover;
}
.wrap .main .visual .visual__wrapper .visual__text {
  color: #ffffff;
  text-transform: uppercase;
  font-size: calc(15px + 0.3vw);
  font-weight: 400;
  margin: 25px 0 45px 0;
  text-align: center;
}
.wrap .main .visual .visual__wrapper .visual__soc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.wrap .main .visual .visual__wrapper .visual__soc .visual__soc-item {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: margin 0.3s ease-in-out, box-shadow 0.3s ease-out;
}
.wrap .main .visual .visual__wrapper .visual__soc .visual__soc-item .visual__soc-icon {
  width: 50%;
  opacity: 0.5;
  transition: opacity 0.3s ease-out;
}
.wrap .main .visual .visual__wrapper .visual__soc .visual__soc-item:hover {
  margin-top: -3px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.231372549);
}
.wrap .main .visual .visual__wrapper .visual__soc .visual__soc-item:hover .visual__soc-icon {
  opacity: 1;
}
.wrap .main .visual .visual__wrapper .visual__soc .visual__soc-item_telegram {
  background: linear-gradient(#131313, #131313) padding-box, linear-gradient(52.96deg, #8134AF 50%, #CB218C 100%) no-repeat center;
  background-size: 120% 120%, 120% 120%;
}
.wrap .main .visual .visual__wrapper .visual__soc .visual__soc-item_telegram .visual__soc-icon {
  position: relative;
  top: 1px;
}
.wrap .main .visual .visual__wrapper .visual__soc .visual__soc-item_instagram {
  background: linear-gradient(#131313, #131313) padding-box, linear-gradient(136.4deg, #F58529 0%, #FEDA77 2%, #DD2A7B 60%, #8134AF 75%, #515BD4 100%) no-repeat center;
  background-size: 120% 120%, 120% 120%;
}
.wrap .main .visual .visual__wrapper .visual__soc .visual__soc-item_linkedIn {
  background: linear-gradient(0deg, #141414, #141414) padding-box, linear-gradient(136.4deg, #B721FF 7.56%, #21D4FD 89.61%) no-repeat center;
  background-size: 120% 120%, 120% 120%;
}
.wrap .main .visual .visual__wrapper .visual__soc .visual__soc-item_linkedIn .visual__soc-icon {
  height: 45%;
  width: 45%;
}
.wrap .main .visual .visual__wrapper .visual__language-sector {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.wrap .main .visual .visual__wrapper .visual__language-sector .visual__text {
  font-size: calc(10px + 0.3vw);
  margin: 0;
  margin-bottom: 25px;
}
.wrap .main .visual .visual__wrapper .visual__language-sector .visual__languages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.wrap .main .visual .visual__wrapper .visual__language-sector .visual__languages .visual__lang {
  border: none;
  outline: none;
  background: #131313;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-size: calc(10px + 0.3vw);
  padding: 10px 15px;
  transition: 0.3s;
  text-decoration: underline;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 35px;
}
.wrap .main .visual .visual__wrapper .visual__language-sector .visual__languages .visual__lang[data-languageElement=english]::before {
  content: "";
  opacity: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: url("../images/languages/english.png") no-repeat center;
  background-size: cover;
  position: absolute;
  border-radius: 5px;
  transition: 0.3s;
}
.wrap .main .visual .visual__wrapper .visual__language-sector .visual__languages .visual__lang[data-languageElement=english]:hover::before {
  opacity: 1;
}
.wrap .main .visual .visual__wrapper .visual__language-sector .visual__languages .visual__lang[data-languageElement=polish]::before {
  content: "";
  opacity: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: url("../images/languages/polish.png") no-repeat center;
  background-size: cover;
  position: absolute;
  border-radius: 5px;
  transition: 0.3s;
}
.wrap .main .visual .visual__wrapper .visual__language-sector .visual__languages .visual__lang[data-languageElement=polish]:hover::before {
  opacity: 1;
}
.wrap .main .visual .visual__wrapper .visual__language-sector .visual__languages .visual__lang[data-languageElement=ukrainian]::before {
  content: "";
  opacity: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: url("../images/languages/ukrainian.png") no-repeat center;
  background-size: cover;
  position: absolute;
  border-radius: 5px;
  transition: 0.3s;
}
.wrap .main .visual .visual__wrapper .visual__language-sector .visual__languages .visual__lang[data-languageElement=ukrainian]:hover::before {
  opacity: 1;
}
.wrap .main .details {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 40px;
}
.wrap .main .details .headline {
  line-height: normal;
  font-size: calc(35px + 0.3vw);
}
.wrap .main .details .details__text {
  color: #ffffff;
  font-size: calc(12px + 0.3vw);
}
.wrap .main .details .details__btn {
  padding: 15px 35px;
  border-radius: 10px;
  background: rgb(255, 64, 0);
  text-decoration: none;
  color: #ffffff;
  font-size: calc(12px + 0.3vw);
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 25px;
}
.wrap .main .details .details__detail {
  margin-top: 15px;
  display: block;
  font-weight: 700;
}
.wrap .main .details .details__skilsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  margin: 15px 0;
}
.wrap .main .details .details__skilsRow .details__skill {
  height: 65px;
  width: 65px;
}
.wrap .headline {
  color: #ffffff;
  font-size: calc(45px + 0.3vw);
  margin: 25px 0;
  text-transform: uppercase;
  font-weight: 900;
  user-select: none;
}
.wrap .swiper {
  width: 100%;
  height: 350px;
}
.wrap .swiper .swiper-slide {
  width: 200px;
  background: gray;
  border-radius: 3px 0 3px 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  padding: 25px;
  gap: 10px;
  user-select: none;
  background-position: center center;
}
.wrap .swiper .swiper-slide .slider__button {
  padding: 10px 15px;
  border-radius: 10px;
  background: rgb(255, 64, 0);
  text-decoration: none;
  color: #ffffff;
  font-size: calc(10px + 0.3vw);
}
.wrap .swiper .swiper-slide .slider__headline {
  color: #ffffff;
  font-size: calc(20px + 0.3vw);
  text-transform: uppercase;
}
.wrap .swiper .swiper-slide .slidecorn {
  height: 50px;
  width: 50px;
  position: absolute;
  top: -2px;
  right: -2px;
  background: #131313;
  z-index: 200;
  display: flex;
}
.wrap .swiper .swiper-slide .slidecorn .slidecorn__down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 0 50px;
  border-color: transparent transparent transparent rgb(255, 64, 0);
}
.wrap .swiper .swiper-button-next,
.wrap .swiper .swiper-button-prev {
  right: 20px;
  padding: 25px;
  color: rgb(255, 64, 0) !important;
  fill: rgb(255, 64, 0) !important;
  stroke: rgb(255, 64, 0) !important;
}
.wrap .toGithubBtn {
  padding: 10px 15px;
  border-radius: 10px;
  background: rgb(255, 64, 0);
  text-decoration: none;
  color: #ffffff;
  font-size: calc(12px + 0.3vw);
  align-self: flex-start;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.wrap .toGithubBtn .toGithubBtn__img {
  height: 35px;
  width: 35px;
}

@media screen and (max-width: 783px) {
  .wrap .main {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .wrap .main .visual {
    width: 100%;
  }
  .wrap .main .visual .visual__wrapper {
    width: 100%;
    padding-top: 0px;
  }
  .wrap .main .details {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 476px) {
  .wrap .main {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .wrap .main .visual {
    width: 100%;
  }
  .wrap .main .visual .visual__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .wrap .main .visual .visual__wrapper .visual__avatar {
    height: 65px;
    width: 65px;
    border-width: 2px;
  }
  .wrap .main .visual .visual__wrapper .visual__text {
    margin: 0;
    margin-left: 15px;
    font-size: calc(12px + 0.3vw);
  }
  .wrap .main .visual .visual__wrapper .visual__soc {
    justify-content: flex-start;
    margin-top: 15px;
    gap: 15px;
  }
  .wrap .main .visual .visual__wrapper .visual__soc .visual__soc-item {
    height: 30px;
    width: 30px;
  }
  .wrap .main .visual .visual__wrapper .visual__language-sector {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 25px;
    order: 1;
    margin-bottom: 0;
  }
  .wrap .main .visual .visual__wrapper .visual__language-sector .visual__text {
    font-size: calc(10px + 0.3vw);
    margin: 0;
  }
  .wrap .main .visual .visual__wrapper .visual__language-sector .visual__languages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-left: 15px;
  }
  .wrap .main .visual .visual__wrapper .visual__language-sector .visual__languages .visual__lang {
    width: 30px;
    height: 35px;
  }
  .wrap .main .visual .details {
    width: 100%;
    margin: 0;
  }
  .wrap .main .visual .details .details__skilsRow {
    gap: 15px;
  }
  .wrap .main .visual .details .details__skilsRow .details__skill {
    height: 50px;
    width: 50px;
  }
  .wrap .headline {
    font-size: calc(25px + 0.3vw);
  }
}

/*# sourceMappingURL=style.css.map */
