* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

$theme-color: rgb(255, 64, 0);

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #131313;
    font-family: 'Montserrat', sans-serif;
    padding: 25px;

    .main {
        width: 100%;
        min-height: calc(100vh - 75px);
        margin-bottom: 50px;
        display: flex;

        .visual {
            width: 30%;

            .visual__wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 35px;

                .visual__avatar {
                    height: 180px;
                    width: 180px;
                    border-radius: 50%;
                    user-select: none;
                    background:
                        linear-gradient(transparent, transparent) padding-box,
                        linear-gradient(137.12deg, #7CDE1A 16.11%, #FF0000 83.7%) no-repeat center;
                    background-size: 110% 110%;
                    border: 4px solid transparent;
                    object-fit: cover;
                }

                .visual__text {
                    color: #ffffff;
                    text-transform: uppercase;
                    font-size: calc(15px + .3vw);
                    font-weight: 400;
                    margin: 25px 0 45px 0;
                    text-align: center;
                }

                .visual__soc {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 25px;

                    .visual__soc-item {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        border: 2px solid transparent;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        transition: margin 0.3s ease-in-out, box-shadow 0.3s ease-out;

                        .visual__soc-icon {
                            width: 50%;
                            opacity: 0.5;
                            transition: opacity 0.3s ease-out;
                        }

                        &:hover {
                            margin-top: -3px;
                            box-shadow: 0 0 10px #ffffff3b;

                            .visual__soc-icon {
                                opacity: 1;
                            }
                        }

                        &_telegram {
                            background:
                                linear-gradient(#131313, #131313) padding-box,
                                linear-gradient(52.96deg, #8134AF 50%, #CB218C 100%) no-repeat center;
                            background-size: 120% 120%, 120% 120%;

                            .visual__soc-icon {
                                position: relative;
                                top: 1px;
                            }
                        }

                        &_instagram {
                            background:
                                linear-gradient(#131313, #131313) padding-box,
                                linear-gradient(136.4deg, #F58529 0%, #FEDA77 2%, #DD2A7B 60%, #8134AF 75%, #515BD4 100%) no-repeat center;
                            background-size: 120% 120%, 120% 120%;

                        }

                        &_linkedIn {
                            background:
                                linear-gradient(0deg, #141414, #141414) padding-box,
                                linear-gradient(136.4deg, #B721FF 7.56%, #21D4FD 89.61%) no-repeat center;
                            background-size: 120% 120%, 120% 120%;

                            .visual__soc-icon {
                                height: 45%;
                                width: 45%;
                            }
                        }
                    }
                }
            }
        }

        .details {
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-left: 40px;

            .headline {
                line-height: normal;
            }

            .details__text {
                color: #ffffff;
                font-size: calc(12px + .3vw);
            }

            .details__btn {
                padding: 15px 35px;
                border-radius: 10px;
                background: $theme-color;
                text-decoration: none;
                color: #ffffff;
                font-size: calc(12px + .3vw);
                font-weight: 500;
                text-transform: uppercase;
                margin-top: 25px;
            }

            .details__detail {
                margin-top: 15px;
                display: block;
            }

            .details__skilsRow {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 25px;
                margin: 25px 0;

                .details__skill {
                    height: 75px;
                    width: 75px;
                }
            }
        }
    }

    .headline {
        color: #ffffff;
        font-size: calc(45px + .3vw);
        margin: 25px 0;
        text-transform: uppercase;
        font-weight: 900;
        user-select: none;
    }

    .swiper {
        width: 100%;
        height: 350px;

        .swiper-slide {
            width: 200px;
            background: gray;
            border-radius: 3px 0 3px 3px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            position: relative;
            padding: 25px;
            gap: 10px;
            user-select: none;
            background-position: center center;

            .slider__button {
                padding: 10px 15px;
                border-radius: 10px;
                background: $theme-color;
                text-decoration: none;
                color: #ffffff;
                font-size: calc(10px + .3vw);
            }

            .slider__headline {
                color: #ffffff;
                font-size: calc(20px + .3vw);
                text-transform: uppercase;
            }

            .slidecorn {
                height: 50px;
                width: 50px;
                position: absolute;
                top: -2px;
                right: -2px;
                background: #131313;
                z-index: 200;
                display: flex;

                .slidecorn__down {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 50px 0 0 50px;
                    border-color: transparent transparent transparent $theme-color;
                }
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            right: 20px;
            padding: 25px;
            color: $theme-color !important;
            fill: $theme-color !important;
            stroke: $theme-color !important;
        }
    }

    .toGithubBtn {
        padding: 10px 15px;
        border-radius: 10px;
        background: $theme-color;
        text-decoration: none;
        color: #ffffff;
        font-size: calc(12px + .3vw);
        align-self: flex-start;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;

        .toGithubBtn__img {
            height: 35px;
            width: 35px;
        }
    }
}

@media screen and (max-width: 783px) {
    .wrap {
        .main {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
    
            .visual {
                width: 100%;
                
                .visual__wrapper {
                    width: 100%;
                    padding-top: 0px;
                }
            }
    
            .details {
                width: 100%;
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 476px) {
    .wrap {
        .main {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
    
            .visual {
                width: 100%;
                
                .visual__wrapper {
                    flex-direction: row;
                    flex-wrap: wrap;

                    .visual__avatar {
                        height: 65px;
                        width: 65px;
                        border-width: 2px;
                    }

                    .visual__text {
                        margin: 0;
                        margin-left: 15px;
                        font-size: calc(12px + .3vw);
                    }

                    .visual__soc {
                        justify-content: flex-start;
                        margin-top: 15px;
                        gap: 15px;

                        .visual__soc-item {
                            height: 30px;
                            width: 30px;
                        }
                    }
                }
            }
    
            .details {
                width: 100%;
                margin: 0;

                .details__skilsRow {
                    gap: 15px;

                    .details__skill {
                        height: 50px;
                        width: 50px;
                    }
                }
            }
        }

        .headline {
            font-size: calc(25px + .3vw);
        }
    }
}